langchain
langchain_community
langchain_core
langchain_text_splitters
ipykernel
streamlit
pathlib
langchain_groq
python-dotenv
mysql
transformers
pypdf
validators==0.28.1
youtube_transcript-api
unstructured